<?xml version="1.0" encoding="UTF-8"?>
<module>
    <name>smartabandonedcart</name>
    <displayName><![CDATA[Smart Abandoned Cart Recovery]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Recover abandoned carts with email campaigns]]></description>
    <author><![CDATA[Kamil Szwaradzki]]></author>
</module>